<div class="footer section">
    <div class="footer__info">
        <h2 class="footer__barbershop-name">
            Барбершоп Бородинский
        </h2>

        <div class="footer__address footer__text">
            г. Санкт-Петербург, ул. Большая Конюшенная 19/8
        </div>

        <div class="footer__phone footer__text">
            <span class="invisible-on-mobile">Тел.: </span> +7 (812) 555-66-66
        </div>
    </div>

    <div class="footer__social social">
        <p class="footer__text social__text invisible-on-mobile">
            Давайте дружить!
        </p>
        <div class="social__icons-wrapper">
            <div class="social__icon social__vk">
                <svg class="social__vk-svg">
                    <use xlink:href="#vk"></use>
                </svg>
            </div>
            <div class="social__icon social__facebook">
                <svg class="social__facebook-svg">
                    <use xlink:href="#facebook"></use>
                </svg>
            </div>
            <div class="social__icon social__instagram">
                <svg class="social__instagram-svg">
                    <use xlink:href="#instagram"></use>
                </svg>
            </div>
        </div>
    </div>
    <div class="footer__developed-by developed-by">
        <h4 class="developed-by__text footer__text">
            Разработано
        </h4>
        <p class="developed-by__html-academy">
            html academy
        </p>
    </div>

</div>