<div class="footer section">
    <div class="footer__info">
        <h2 class="footer__barbershop-name">
            Барбершоп Бородинский
        </h2>

        <div class="footer__address footer__text">
            г. Санкт-Петербург, ул. Большая Конюшенная 19/8
        </div>

        <div class="footer__phone">
            +7 (812) 555-66-66
        </div>
    </div>

    <div class="footer__social social">
        <p class="footer__text social__text invisible-on-mobile">
            Давайте дружить!
        </p>
        <div class="social__icons-wrapper">
            <div class="social__icon social__vk"></div>
            <div class="social__icon social__facebook"></div>
            <div class="social__icon social__instagram"></div>
        </div>
    </div>
    <div class="footer__developed-by developed-by">
        <h4 class="developed-by__text">
            Давайте дружить!
        </h4>
        <p class="developed-by__html-academy">
            HTML ACADEMY
        </p>
    </div>

</div>