<div class="info">
    <div class="statistics">
        <div class="statistics__item statistics__text-block">
            <h2 class="statistics__header">
                Стрижка у нас <br>
                это выгодно!
            </h2>
            <p class="statistics__text-block-text">
                Мужская стрижка требует <br class="invisible-on-mobile"> точного <br class="invisible-on-tablet invisible-on-desktop">
                подхода. Обратимся к статистике:
            </p>
            <p class="statistics__lie lie lie--statistics invisible-on-mobile">
                * — приведённые данные ложь
            </p>
        </div>
        <div class="statistics__item statistics__section statistics__item--medium-grey">
            <span class="statistics__number">1 500 *</span>
            <p class="statistics__text">рублей <br class="invisible-on-tablet invisible-on-desktop"> вложений</p>
        </div>
        <div class="statistics__item statistics__section statistics__item--light-grey">
            <span class="statistics__number">7 200</span>
            <p class="statistics__text">секунд <br class="invisible-on-tablet invisible-on-desktop"> времени мастера</p>
        </div>
        <div class="statistics__item statistics__section statistics__item--dark-grey">
            <span class="statistics__number">90 000</span>
            <p class="statistics__text">постриженных <br class="invisible-on-tablet invisible-on-desktop"> волос</p>
        </div>
        <div class="statistics__item statistics__section statistics__item--medium-grey">
            <span class="statistics__number">500 000 *</span>
            <p class="statistics__text">лайков и <br class="invisible-on-tablet invisible-on-desktop"> комплиментов</p>
        </div>
    </div>
    <p class="info__lie lie invisible-on-tablet">
        * — приведённые данные ложь
    </p>
    <div class="features slider slider--features">
        <div class="featured__content slider__content">
            <div class="features__item slider__item">
                <svg class="features__img features__advantage-1">
                    <use xlink:href="#advantage-1-illustration"></use>
                </svg>
                <div class="features__text-content">
                    <h2 class="features__header">быстро</h2>
                    <p class="features__text">
                        Мы делаем свою работу быстро! <br class="invisible-on-tablet">
                        Два часа пролетят незаметно <br class="invisible-on-tablet">
                        и вы — счастливый обладатель <br class="invisible-on-tablet"> стильной
                        стрижки-минутки
                    </p>
                </div>
            </div>
            <div class="features__item slider__item">
                <svg class="features__img features__advantage-2">
                    <use xlink:href="#advantage-2-illustration"></use>
                </svg>
                <div class="features__text-content">
                    <h2 class="features__header">
                        круто
                    </h2>
                    <p class="features__text">
                        Забудьте, как вы стриглись <br class="invisible-on-tablet">
                        раньше. Мы сделаем из вас <br class="invisible-on-tablet">
                        звезду футбола или кино. <br class="invisible-on-tablet">
                        Во всяком случае
                        внешне.
                    </p>
                </div>
            </div>
            <div class="features__item slider__item">
                <svg class="features__img features__advantage-3">
                    <use xlink:href="#advantage-3-illustration"></use>
                </svg>
                <div class="features__text-content">
                    <h2 class="features__header">
                        дорого
                    </h2>
                    <p class="features__text">
                        Наши мастера — профессионалы <br class="invisible-on-tablet">
                        своего делаи не могут стоить <br class="invisible-on-tablet">
                        дёшево. К тому же, разве цена не <br class="invisible-on-tablet">
                        даёт определённый статус?
                    </p>
                </div>
            </div>
        </div>
        <div class="slider__nav features__nav">
            <div class="slider__nav-item js-active-slide"></div>
            <div class="slider__nav-item"></div>
            <div class="slider__nav-item"></div>
        </div>
    </div>
</div>