<div class="info section">
    <div class="statistics">
        <div class="statistics__item statistics__text-block">
            <h2 class="statistics__header">
                Стрижка у нас
                это выгодно!
            </h2>
            <p class="statistics__text statistics__text-block-text">
                Мужская стрижка требует точного подхода. Обратимся к статистике:
            </p>
            <p class="statistics__lie lie invisible-on-mobile">
                * — приведённые данные ложь
            </p>
        </div>
        <div class="statistics__item statistics__item--medium-grey">
            <span class="statistics__number">1 500 *</span>
            <p class="statistics__text">рублей вложений</p>
        </div>
        <div class="statistics__item statistics__item--light-grey">
            <span class="statistics__number">7 200</span>
            <p class="statistics__text">секунд времени мастера</p>
        </div>
        <div class="statistics__item statistics__item--dark-grey">
            <span class="statistics__number">90 000</span>
            <p class="statistics__text">постриженных волос</p>
        </div>
        <div class="statistics__item statistics__item--medium-grey">
            <span class="statistics__number">500 000 *</span>
            <p class="statistics__text">лайков и комплиментов</p>
        </div>
    </div>
    <p class="statistics__lie lie invisible-on-tablet">
        * — приведённые данные ложь
    </p>
    <div class="features slider">
        <div class="featured__content slider__content">
            <div class="features__item slider__item">
                <svg class="features__img features__advantage-1">
                    <use xlink:href="#advantage-1-illustration"></use>
                </svg>
                <div class="features__text-content">
                    <h2 class="features__header">быстро</h2>
                    <p class="features__text">
                        Мы делаем свою работу быстро! Два часа пролетят незаметно и вы — счастливый обладатель стильной
                        стрижки-минутки
                    </p>
                </div>
            </div>
            <div class="features__item slider__item">
                <svg class="features__img features__advantage-2">
                    <use xlink:href="#advantage-2-illustration"></use>
                </svg>
                <div class="features__text-content">
                    <h2 class="features__header">
                        круто
                    </h2>
                    <p class="features__text">
                        Забудьте, как вы стриглись раньше. Мы сделаем из вас звезду футбола или кино. Во всяком случае
                        внешне.
                    </p>
                </div>
            </div>
            <div class="features__item slider__item">
                <svg class="features__img features__advantage-3">
                    <use xlink:href="#advantage-3-illustration"></use>
                </svg>
                <div class="features__text-content">
                    <h2 class="features__header">
                        дорого
                    </h2>
                    <p class="features__text">
                        Наши мастера — профессионалы своего делаи не могут стоить дёшево. К тому же, разве цена не даёт
                        определённый статус?
                    </p>
                </div>
            </div>
        </div>
        <div class="slider__nav">
            <div class="slider__nav-item"></div>
            <div class="slider__nav-item"></div>
            <div class="slider__nav-item"></div>
        </div>
    </div>
</div>