<div class="news section">
    <h2 class="news__header">
        новости и акции
    </h2>
    <div class="news__item">
        <div class="news__date">
            <span class="news__day">
                29
            </span>
            <span class="news__month">
                сент
            </span>
        </div>
        <p class="news__text">
            Нам наконец завезли Ягермайстер! Теперь вы можете пропусить стаканчик во время стрижки.
        </p>
    </div>
    <div class="news__item news__item--second">
        <div class="news__date">
            <span class="news__day">
                19</span>
            <span class="news__month">
                сент
            </span>
        </div>
        <p class="news__text">
            В нашей команде пополнение, Борис «Бритва» Стригунец, обладатель множества титулов и наград пополнил наши
            стройные ряды. Спешите записаться!
        </p>
    </div>
    <div class="news__item news__item--third">
        <div class="news__date">
            <span class="news__day">
                9</span>
            <span class="news__month">
                сент
            </span>
        </div>
        <p class="news__text invisible-on-mobile">
            Все дорожает, а наши стрижки нет! Как так? Приходите, постригитесь и узнаете, в чем здесь подвох!
        </p>
    </div>
    <button class="news__show button-link">
        показать все
    </button>
</div>