<div class="photos section">
    <div class="photos__top top-text-block">
        <h2 class="photos__header top-text-block__header">
            наши работы
        </h2>
        <a href="/" class="button-link top-text-block__link photos__back-to-main-page invisible-on-mobile">
            на главную
        </a>
    </div>

    <div class="photos__item photo photo--work-of-the-month">
        <div class="photo__img work-of-the-month photo__img-1"></div>
        <div class="photo__info">
            <div class="photo__text">
                <h4 class="photo__name">Лжепётр Мчиславский</h4>
                <p class="photo__review">
                    Где я только ни стригся, но так как делаете это вы — не умеет никто
                    другой! Еще раз спасибо и до скорого!
                </p>
            </div>
            <div class="photo__services services">
                <div class="services__item">
                    <svg class="services__icon services__scissors-icon">
                        <use xlink:href="#scissors-icon"></use>
                    </svg>
                    <p class="services__name">
                        стрижка
                    </p>

                </div>
                <div class="services__item">
                    <svg class="services__icon services__beard-icon">
                        <use xlink:href="#beard-icon"></use>
                    </svg>
                    <p class="services__name">
                        бритье
                    </p>
                </div>
                <div class="services__item">
                    <svg class="services__icon services__mustache-icon">
                        <use xlink:href="#mustache-icon"></use>
                    </svg>
                    <p class="services__name">
                        усы
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="photos__container">
        <div class="photos__item photo">
            <div class="photo__img photo__img-2"></div>
            <div class="photo__info">
                <div class="photo__text">
                    <h4 class="photo__name">
                        Саша Мальцев
                    </h4>
                    <p class="photo__review">
                        Попросил омолодить и омолодили! Кто теперь скажет, что мне 45?
                    </p>
                </div>
                <div class="photo__services services">
                    <div class="services__item">
                        <svg class="services__icon services__scissors-icon">
                            <use xlink:href="#scissors-icon"></use>
                        </svg>
                        <p class="services__name">
                            стрижка
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="photos__item photo">
            <div class="photo__img photo__img-3"></div>
            <div class="photo__info">
                <div class="photo__text">
                    <h4 class="photo__name">
                        Владимир Иваныч
                    </h4>
                    <p class="photo__review">
                        К зимнему сезону — готов!
                    </p>
                </div>
                <div class="photo__services services">
                    <div class="services__item">
                        <svg class="services__icon services__beard-icon">
                            <use xlink:href="#beard-icon"></use>
                        </svg>
                        <p class="services__name">
                            бритье
                        </p>
                    </div>
                    <div class="services__item">
                        <svg class="services__icon services__mustache-icon">
                            <use xlink:href="#mustache-icon"></use>
                        </svg>
                        <p class="services__name">
                            усы
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="photos__item photo">
            <div class="photo__img photo__img-4"></div>
            <div class="photo__info">
                <div class="photo__text">
                    <h4 class="photo__name">
                        Винстон Синий
                    </h4>
                    <p class="photo__review">
                        Как только заростаю и волосы начинают мешать видеть — бегом в Бородинский!
                    </p>
                </div>
                <div class="photo__services services">
                    <div class="services__item">
                        <svg class="services__icon services__scissors-icon">
                            <use xlink:href="#scissors-icon"></use>
                        </svg>
                        <p class="services__name">
                            стрижка
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>