<div class="section review">
    <h2 class="review__header">
        Отзывы о нас
    </h2>
    <button class="review__leave-review-buton button-link invisible-on-mobile">
        Оставить свой
    </button>
    <div class="carousel review__container slider slider--review">
        <input type="radio" class="carousel__radio" name="carousel" id="radio-1" checked>
        <input type="radio" class="carousel__radio" name="carousel" id="radio-2">
        <input type="radio" class="carousel__radio" name="carousel" id="radio-3">

        <div class="carousel__prev invisible-on-mobile">
            <label for="radio-1" class="carousel__prev-item">&#9668</label>
            <label for="radio-2" class="carousel__prev-item">&#9668</label>
            <label for="radio-3" class="carousel__prev-item">&#9668</label>
        </div>
        <div class="carousel__content slider__content review__content">
            <div class="review__item carousel__item slider__item" id="review1">
                <picture class="review__photo">
                    <source media="(min-width: 1200px)" srcset="../../img/trevis-desktop.png">
                    <source media="(min-width: 768px)" srcset="../../img/trevis-tablet.png">
                    <source media="(min-width: 0px)" srcset="../../img/trevis-mobile.png">
                    <img class="review__photo" src="../../img/trevis-desktop.png" alt="This picture loads on non-supporting browsers.">
                </picture>
                <div class="review__text-content">
                    <h3 class="review__author">Трэвис Баркер</h3>
                    <p class="review__text">
                        Спасибо за лысину! Был проездом в Москве, заскочил побриться, чтобы было видно новую
                        татуировку!
                    </p>
                </div>
            </div>
            <div class="review__item carousel__item slider__item" id="review2">
                <img src="" alt="" class="review__photo">
                <div class="review__text-content">
                    <h3 class="review__author">Vanya</h3>
                    <p class="review__text">
                        Can't find where to eat with my new beard. That's what I was looking for. Thanks!
                    </p>
                </div>
            </div>
            <div class="review__item carousel__item slider__item" id="review3">
                <img src="" alt="" class="reviw__photo">
                <div class="review__text-content">
                    <div class="review__author">Alien</div>
                    <p class=" review__text">
                        Thanks for my beard
                    </p>
                </div>
            </div>
        </div>
        <div class="carousel__next invisible-on-mobile">
            <label for="radio-1" class="carousel__next-item">&#9658</label>
            <label for="radio-2" class="carousel__next-item">&#9658</label>
            <label for="radio-3" class="carousel__next-item">&#9658</label>
        </div>

        <div class="slider__nav carousel__nav review__nav">

            <a href="#review1" class="carousel__nav-link slider__nav-item js-active-slide">
            </a>

            <a href="#review2" class="carousel__nav-link slider__nav-item">
            </a>

            <a href="#review3" class="carousel__nav-link slider__nav-item">
            </a>

        </div>
    </div>
</div>