<div class="top-menu-mobile page__top-menu-mobile">
    <h1 class="top-menu-mobile__text js-top-menu-mobile__text">
        главная
    </h1>
    <div class="top-menu-mobile__icon-wrapper">
        <svg class="top-menu-mobile__menu-icon">
            <use xlink:href="#menu-icon"></use>
        </svg>
        <div class="top-menu-mobile__list-wrapper">
            <div class="top-menu-mobile__close">
                <svg class="top-menu-mobile__menu-close">
                    <use xlink:href="#menu-close"></use>
                </svg>
            </div>
            <ul class="top-menu-mobile__menu-list mobile-menu">
                <li class="mobile-menu__item">
                    <a href="/" class="mobile-menu__link">главная</a>
                </li>
                <li class="mobile-menu__item">
                    <a href="/photos.html" class="mobile-menu__link">наши работы</a>
                </li>
                <li class="mobile-menu__item">
                    <a href="/form.html" class="mobile-menu__link">записаться</a>
                </li>
                <li class="mobile-menu__item">
                    <a href="/" class="mobile-menu__link">контакты</a>
                </li>
                <li class="mobile-menu__item">
                    <a href="/" class="mobile-menu__link">html academy</a>
                </li>
                <li class="mobile-menu__item mobile-menu__item-enter">
                    <a href="/" class="mobile-menu__link top-menu__enter-link">вход</a>
                </li>
            </ul>
        </div>
    </div>
</div>