.additional-information {
    &__textarea {
        @include text-input;
        padding-top: 14px;
        padding-bottom: 14px;
    }
    @media(min-width: $tablet) {
        &__textarea {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
}