.form {
    padding-top: 30px;
    padding-bottom: 74px;
    background-color: $beige;
    &__header {
        font-size: 30px;
        font-weight: bold;
        color: black;
        line-height: 30px;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 30px;
    }
    &__section {
        margin-bottom: 32px;
    }
    &__beard-choice {
        margin-bottom: 44px;
    }
    &__additional-infomation {
        height: 112px;
    }
    &__additional-services {
        margin-bottom: 46px;
    }
    &__section-header {
        font-size: 20px;
        font-weight: 400;
        line-height: 27px;
        text-transform: uppercase;
        color: black;
        text-align: center;
        padding-bottom: 36px;
    }
    &__submit {
        width: 100%;
    }
}