.form {
    padding-bottom: 74px;
    &__section {
        margin-bottom: 32px;
    }
    &__beard-choice {
        margin-bottom: 44px;
    }
    &__textarea {
        height: 112px;
    }
    &__additional-services {
        margin-bottom: 46px;
    }
    &__section-header {
        font-size: 20px;
        font-weight: 400;
        line-height: 27px;
        text-transform: uppercase;
        color: black;
        text-align: center;
        padding-bottom: 36px;
        white-space: nowrap;
    }
    &__submit {
        width: 100%;
        display: block;
    }
    @media(min-width: $tablet) {
        padding-bottom: 76px;
        &__section {
            margin-bottom: 35px;
            position: relative;
        }
        &__additional-information {
            margin-bottom: 64px;
        }
        &__textarea {
            height: 212px;
        }
        &__section-header {
            font-size: 30px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            padding-left: 25px;
            padding-right: 25px;
            background-color: $beige;
            z-index: 1;
            padding-bottom: 0;
        }
        &__additional-services {
            padding-top: 84px;
            margin-bottom: 60px;
            border-top: 1px solid $border-grey;
        }
        &__beard-choice {
            border-top: 1px solid $border-grey;
            padding-top: 60px;
            margin-bottom: 66px;
        }
    }
    @media(min-width: $desktop) {
        padding-bottom: 87px;
        &__additional-information {
            margin-bottom: 82px;
        }
        &__beard-choice {
            border-top: 1px solid $border-grey;
            padding-top: 66px;
        }
        &__additional-services {
            margin-bottom: 80px;
        }
    }
}