@mixin input-placeholder {
    &::placeholder {
        font-size: 18px;
        line-height: 1;
        color: black;
        font-family: 'PT Sans Narrow';
        font-weight: 400;
    }
    @media(min-width: $tablet) {
        &::placeholder {
            font-size: 24px;
            line-height: 30px;
        }
    }
}