.name {
    &__input {
        height: 50px;
        @include text-input;
        &:hover {
            border-color: $inputs-hover-color;
        }
        &:active {
            border: 1px solid #999999;
        }
    }
    @media(min-width: $tablet) {
        display: flex;
        &__input {
            height: 70px;
            flex-basis: 33.33%;
        }
        &__first-name {
            order: 0;
        }
        &__last-name {
            order: 1
        }
        &__paternal-name {
            order: 2;
        }
    }
    @media(min-width: $tablet) {
        &__input {
            flex-basis: auto;
            flex-grow: 1;
        }
        &__first-name {
            margin-right: 36px;
        }
        &__last-name {
            margin-right: 36px;
        }
    }
}