.news {
    padding-top: 37px;
    padding-bottom: $baseline;
    background-color: $beige;
    border-bottom: 1px solid $border-grey;
    &__item {
        display: flex;
        padding-top: 18px;
        padding-bottom: 18px;
        justify-content: space-between;
        &\--second {
            border-top: 1px solid $border-grey;
        }
        &\--third {
            display: none;
        }
    }
    &__date {
        width: 50px;
        height: 50px;
        text-align: center;
        padding-top: 5px;
        background-color: black;
        margin-top: 10px;
        position: relative;
        flex-shrink: 0;
        &::after {
            content: '';
            position: absolute;
            height: 10px;
            width: 50px;
            border-right: 25px solid $beige;
            border-left: 25px solid $beige;
            border-top: 10px solid black;
            top: 100%;
            left: 0;
            box-sizing: border-box;
        }
    }
    &__day {
        font-size: 1.1 * $baseline;
        font-weight: bold;
        color: white;
        line-height: $baseline;
    }
    &__month {
        font-size: 0.6 * $baseline;
        color: white;
        display: inline-block;
    }
    &__header {
        font-size: 1.1 * $baseline;
        line-height: 1em;
        color: black;
        padding-bottom: 10px;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
    }
    &__text {
        font-weight: 400;
        font-size: 0.66 * $baseline;
        line-height: $baseline;
        flex-basis: 75%;
    }
    &__show {
        width: 100%;
        margin-top: 2px;
    }
    @media(min-width: $tablet) {
        padding-top: 42px;
        padding-bottom: 34px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        &__show {
            order: 1;
            width: initial;
            flex-basis: 25%;
        }
        &__content {
            display: flex;
            flex-wrap: wrap;
            order: 2;
            flex-basis: 100%;
            padding-top: 46px;
        }
        &__item {
            flex-basis: 50%;
            padding-top: 0;
            padding-bottom: 0;
            &\--second {
                border-top: none;
            }
            justify-content: flex-start;
        }
        &__header {
            font-size: 40px;
            line-height: 30px;
        }
        &__text {
            flex-basis: auto;
            padding-left: 21px;
        }
    }
    @media(min-width: $desktop) {
        padding-top: 2 * $baseline;
        padding-bottom: 36px;
        &__item {
            flex-basis: 33.33%;
            &\--third {
                display: flex;
            }
        }
        &__header {
            padding-left: 70px;
        }
        &__show {
            flex-basis: 16.66%;
        }
    }
}