.page {
    &__top-logo {
        height: 85px;
    }
    &__top-menu-mobile {
        height: 50px;
    }
    &__hero-index {
        display: none;
    }
    &__hero {
        display: none;
    }
    @media(min-width: $tablet) {
        &__top-logo {
            display: none;
        }
        &__top-menu-mobile {
            display: none;
        }
        &__hero {
            display: block;
            height: 286px;
        }
        &__hero-index {
            display: block;
            height: 469px;
        }
    }
    @media(min-width: $desktop) {
        &__hero {
            height: 379px;
        }
        &__hero-index {
            display: block;
            height: 720px;
        }
    }
}