.discount {
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    padding-top: 15px;
    padding-bottom: 16px;
    padding-left: 7.5%;
    &__clock {
        width: 58px;
        height: 58px;
        fill: #fff;
    }
    &__text {
        font-size: 20px;
        font-weight: 400;
        line-height: 27px;
        margin-left: 12.5%;
    }
    @media(min-width: $tablet) and (max-width: $desktop - 1px) {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 4.2%;
        &__clock {
            width: 72px;
            height: 72px;
        }
        &__text {
            font-size: 30px;
            margin-left: 14%;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
    @media(min-width: $desktop) {
        padding: 35px 0 0 0;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        &__clock {
            width: 142px;
            height: 142px;
            margin-bottom: 26px;
        }
        &__text {
            margin-left: 0;
            display: block;
            text-align: center;
        }
    }
}