.price-list {
    background-color: map-get($grey-colors, dark-grey);
    color: white;
    padding-top: 35px;
    padding-bottom: 52px;
    &__table {
        margin-top: 24px;
        margin-bottom: 12px;
    }
    &__row {
        display: flex;
        width: 100%;
        height: 69px;
    }
    &__number {
        display: none;
    }
    &__price {
        flex-basis: 25%;
        font-size: 20px;
        line-height: 27px;
        white-space: nowrap;
        text-align: right;
    }
    &__service {
        font-size: 20px;
        line-height: 27px;
        font-weight: bold;
        flex-basis: 75%;
    }
    &__details-mobile {
        font-size: 20px;
        line-height: 27px;
        font-weight: 400;
    }
    &__header {
        font-size: 30px;
        font-weight: bold;
        line-height: 30px;
        text-transform: uppercase;
        text-align: center;
    }
    @media(min-width: $tablet) {
        padding-top: 50px;
        padding-bottom: 56px;
        &__header {
            font-size: 40px;
            line-height: 30px;
            text-align: left;
        }
        &__content {
            margin-top: 53px;
        }
        &__table {
            margin-bottom: 9px;
            border-top: 1px solid rgba(255, 255, 255, 0.1);
        }
        &__row {
            height: 55px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            border-left: 1px solid rgba(255, 255, 255, 0.1);
            border-right: 1px solid rgba(255, 255, 255, 0.1);
        }
        &__number {
            flex-basis: 11.25%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: 1px solid rgba(255, 255, 255, 0.1);
        }
        &__price {
            flex-basis: 25%;
            padding-left: 21px;
            text-align: left;
            display: flex;
            align-items: center;
        }
        &__details {
            display: initial;
            flex-basis: 25%;
            padding-left: 21px;
            display: flex;
            align-items: center;
            border-right: 1px solid rgba(255, 255, 255, 0.1);
        }
        &__service {
            padding-left: 21px;
            flex-basis: 38.75%;
            display: flex;
            align-items: center;
            border-right: 1px solid rgba(255, 255, 255, 0.1);
        }
    }
    @media(min-width: $desktop) {
        padding-top: 82px;
        padding-bottom: 82px;
        &__content {
            display: flex;
            justify-content: space-between;
        }
        &__table {
            margin-right: 6.25%;
            flex-grow: 1;
            margin-bottom: 0;
            margin-top: 0;
        }
        &__price {
            flex-basis: 23.5%;
        }
        &__details {
            flex-basis: 25.5%;
        }
        &__service {
            flex-basis: 39.75%;
        }
        &__discount {
            flex-basis: 28%;
        }
    }
}