.price-list {
    background-color: map-get($grey-colors, dark-grey);
    color: white;
    padding-top: 35px;
    padding-bottom: 52px;
    &__table {
        margin-top: 24px;
        margin-bottom: 12px;
    }
    &__row {
        display: flex;
        width: 100%;
        height: 69px;
    }
    &__col-on-mobile {
        flex-basis: 75%;
    }
    &__number {
        display: none;
    }
    &__price {
        flex-basis: 25%;
        font-size: 20px;
        line-height: 27px;
        white-space: nowrap;
        text-align: right;
    }
    &__service {
        font-size: 20px;
        line-height: 27px;
        font-weight: bold;
    }
    &__details {
        font-size: 20px;
        line-height: 27px;
    }
    &__header {
        font-size: 30px;
        font-weight: bold;
        line-height: 30px;
        text-transform: uppercase;
        text-align: center;
    }
    @media(min-width: $tablet) {
        padding-top: 50px;
        &__header {
            font-size: 40px;
            line-height: 30px;
            text-align: left;
        }
        &__number {
            display: initial;
            flex-basis: 11.25%;
        }
        &__col-on-mobile {
            flex-basis: 63.75%;
            display: flex;
        }
        &__price {
            flex-basis: 25%;
        }
    }
}