.info {
    background-color: $brown;
    position: relative;
    &::after {
        content: url("../background-icons/triangle.svg");
        bottom: -3px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        width: 100vw;
    }
    &__lie {
        padding-top: 16px;
    }
    &__statistics {
        margin-left: -20px;
        margin-right: -20px;
    }
    @media(min-width: $tablet) {
        &::after {
            width: 1280px;
            content: url("../background-icons/triangle-tablet.svg");
        }
        &__statistics {
            margin-left: 0;
            margin-right: 0;
        }
    }
    @media(min-width: $desktop) {
        padding-top: 160px;
        padding-bottom: 64px;
        &__statistics {
            position: absolute;
            top: -160px;
            left: 120px;
            right: 120px;
        }
    }
}