.slider {
    &--features .js-active-slide {
        background-color: white;
    }
    &--review .js-active-slide {
        background-color: #353535;
    }
    &__content {
        display: flex;
        width: 100%;
        overflow-x: auto;
    }
    &__content {
        -ms-overflow-style: none; // IE 10+
    }
    &__content::-webkit-scrollbar {
        display: none; // Safari and Chrome
    }
    &__item {
        min-width: 100%;
    }
    &__nav {
        margin-top: $baseline;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 0;
    }
    &__nav-item {
        width: 7px;
        height: 7px;
        transform: rotate(45deg);
        display: inline-block;
        &:nth-child(2) {
            margin-left: 25px;
            margin-right: 25px;
        }
    }
    &--features .slider__nav-item {
        border: 1px solid #ffffff;
    }
    &--review .slider__nav-item {
        border: 1px solid map-get($grey-colors, dark-grey);
    }
    @media (min-width: $tablet) {
        &\--features {
            .slider__content {
                display: block;
            }
            .slider__nav {
                display: none;
            }
        }
    }
    @media (min-width: $desktop) {
        &\--features {
            .slider__content {
                display: flex;
            }
            .slider__item {
                min-width: auto;
            }
        }
    }
}