.button-link {
    border: 1px solid #e5ddd5;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: black;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    outline: none;
    background-color: transparent;
    font-weight: bold;
    font-family: 'PT Sans Narrow';
}