.developed-by {
    padding-top: $baseline;
    &__text {
        padding-bottom: 12px;
    }
    &__html-academy {
        font-size: 0.66 * $baseline;
        line-height: 24px;
        text-transform: uppercase;
        border: 1px solid $footer-border-color;
        font-weight: bold;
        padding-top: 11px;
        padding-bottom: 12px;
        width: 100%;
        @include footer-hover-mixin;
        &:active {
            color: rgba(255, 255, 255, 0.3);
        }
    }
    @media(min-width: $tablet) {
        padding-top: 0;
    }
}