.footer {
    background-color: $footer-color;
    color: white;
    padding-top: 1.25 * $baseline;
    padding-bottom: 24px;
    text-align: center;
    border-top: 1px solid $footer-border-color;
    position: relative;
    &::after {
        content: url("../background-icons/triangle-footer.svg");
        height: auto;
        bottom: 99.3%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        width: 101%;
    }
    &__info {
        padding-bottom: 26px;
    }
    &__barbershop-name {
        font-size: 0.66 * $baseline;
        color: white;
        line-height: $baseline;
        font-weight: 700;
        padding-bottom: 7px;
    }
    &__text {
        font-size: 0.66 * $baseline;
        color: white;
        line-height: $baseline;
    }
    &__address {
        padding-bottom: 0.66 * $baseline;
    }
    &__phone {
        border: 1px solid $footer-border-color;
        font-weight: bold;
        padding-top: 11px;
        padding-bottom: 10px;
        width: 100%;
        @include footer-hover-mixin;
        &:active {
            opacity: 0.3;
        }
    }
    &__social {
        margin-left: -20px;
        margin-right: -20px;
    }
    @media(min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
        padding-top: 48px;
        padding-bottom: 60px;
        &::after {
            display: none;
        }
        &__barbershop-name {
            text-transform: uppercase;
        }
        &__developed-by {
            order: 1;
            flex-basis: 25%;
        }
        &__social {
            flex-basis: 100%;
            order: 2;
            margin: 50px 0 0 0;
        }
        &__info {
            flex-basis: 50%;
            padding-bottom: 0;
            text-align: left;
        }
        &__address {
            padding-bottom: 0;
        }
        &__phone {
            border: none;
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    @media(min-width: $desktop) {
        flex-wrap: nowrap;
        align-items: flex-start;
        &__social {
            order: 0;
            flex-basis: 33.33%;
            margin: 0;
        }
        &__info {
            flex-basis: 33.33%;
        }
        &__developed-by {
            order: 0;
            flex-basis: 16.66%;
            margin-left: auto;
        }
    }
}