.hero {
    background-image: url("../img/back-tablet.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    &__logo {
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        width: 370px;
        height: 101px;
    }
    &__logo-svg {
        display: inline-block;
        width: 100%;
        height: 100%;
        fill: #fff;
    }
    &__top-menu {
        height: 72px;
    }
    @media(min-width: $tablet) {
        &\--small {
            position: relative;
            &::after {
                content: url("../background-icons/triangle-tablet.svg");
                fill: $beige;
                position: absolute;
                bottom: 0;
                width: 1280px;
                height: 68px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;
            }
        }
    }
    @media(min-width: $desktop) {
        background-image: url("../img/back-desktop.jpg");
        &__logo {
            width: 370px;
            height: 153px;
            margin-top: 57px;
        }
    }
}