.login {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    &__body {
        width: 100%;
        min-height: 408px;
        box-shadow: 0 30px 50px rgba(0, 1, 1, 0.75);
        background-color: $beige;
        padding: 31px 20px 37px 20px;
        position: absolute;
        top: 135px;
        left: 0;
        right: 0;
    }
    &__close {
        width: 26px;
        height: 26px;
        display: none;
        position: absolute;
    }
    &__header {
        font-size: 30px;
        line-height: 30px;
        color: black;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        padding-bottom: 18px;
    }
    &__text {
        font-size: 18px;
        line-height: 27px;
        color: black;
        padding-bottom: 22px;
        text-align: center;
        font-weight: 400;
    }
    &__field {
        position: relative;
        &\--login {
            margin-bottom: 6px;
            &:after {
                position: absolute; // content: url("../../icons/user-icon.svg");
                top: 50%;
                transform: translateY(-50%);
                right: 19px;
                height: 15px;
                width: 15px;
            }
        }
        &\--email {
            margin-bottom: 26px;
        }
    }
    &__input {
        width: 100%;
        height: 50px;
        border: 1px solid $border-grey;
        padding: 11px 50px 14px 18px;
        outline: none;
        &::placeholder {
            font-size: 18px;
            line-height: 30px;
            color: black;
            font-family: 'PT Sans Narrow';
        }
    }
    &__section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }
    &__checkbox-wrapper {
        width: 33px;
        height: 33px;
        position: absolute;
        border: 1px solid $border-grey;
        background-color: white;
    }
    &__checkbox {
        width: 33px;
        height: 33px;
        opacity: 0;
        z-index: 3;
    }
    &__check {
        width: 10px;
        height: 18px;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
        display: none;
        position: absolute;
        top: 2px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
        z-index: 1;
    }
    &__checkbox:checked~&__check {
        display: block;
    }
    &__remember-label {
        font-size: 18px;
        line-height: 30px;
        color: black;
        padding-left: 48px;
        display: inline-block;
    }
    &__forgot-password {
        font-size: 18px;
        line-height: 30px;
        color: black;
        text-decoration-color: black;
    }
    &__button-row {
        display: flex;
        justify-content: space-between;
    }
    &__submit {
        color: white;
        background-color: $light-brown;
        border: none;
    }
    &__button-close {
        color: black;
        border: 1px solid $border-grey;
        background-color: transparent;
        outline: none;
    }
    &__button {
        height: 50px;
        display: block;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
        font-weight: bold;
        flex-basis: calc(50% - 10px);
    }
    @media(min-width: $tablet) {
        &__body {
            max-width: 460px;
            max-height: 502px;
            left: 50%;
            top: 130px;
            transform: translateX(-50%);
            padding: 57px 70px;
        }
        &__close {
            top: 190px;
            right: 51px;
            display: initial;
            cursor: pointer;
        }
        &__header {
            font-size: 40px;
            padding-bottom: 25px;
        }
        &__input {
            height: 70px;
            padding: 24px 67px 24px 24px;
            &::placeholder {
                font-size: 24px;
            }
        }
        &__section {
            margin-bottom: 33px;
        }
        &__button-close {
            display: none;
        }
        &__submit {
            flex-basis: 100%;
        }
    }
    @media(min-width: $desktop) {
        &__body {
            top: 113px;
        }
        &__close {
            right: 22.25%;
            top: 175px;
        }
    }
}