.mobile-menu {
    position: relative;
    &::after {
        position: absolute;
        content: '';
        height: 100%;
        width: 8px;
        top: 0;
        left: 0;
        background: rgb(0, 0, 0);
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.05) 100%);
    }
    &__item {
        height: 50px;
        box-shadow: 0 1px 0 #71543f, inset 0 1px 0 #886e5b;
        background-color: $light-brown;
        display: flex;
        align-items: center;
        padding-left: 20px;
        &:hover {
            background-color: #755a46;
        }
        &:active {
            background-color: $menu-button-brown;
        }
    }
    &__item-enter {
        background-color: $menu-button-brown;
    }
    &__link {
        color: white;
        font-size: 0.66 * $baseline;
        line-height: 1.33em;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        &:active {
            opacity: 0.3;
        }
    }
    &__enter-link {
        text-transform: none;
    }
}