.top-menu-mobile {
    background-color: $light-brown;
    position: relative;

    &__text {
        font-size: 0.66 * $baseline;
        text-transform: uppercase;
        color: white;
        line-height: 50px;
        text-align: center;
        font-weight: 400;
    }

    &__icon-wrapper {
        width: 70px;
        height: 100%;
        background-color: $menu-button-brown;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__menu-icon {
        width: 36px;
        height: 29px;
    }
    &__close {
        width: 70px;
        height: 50px;
        background-color: $menu-button-brown;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__menu-close {
        width: 26px;
        height: 25px;
    }

    &__list-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        width: 100vw;
        align-items: flex-top;
        z-index: 2;
    }

    &__menu-list {
        flex-grow: 1;
    }
}