.top-menu {
    background-color: black;
    display: flex;
    justify-content: flex-start;
    &__item {
        height: 100%;
        margin-right: 33px;
        display: flex;
        align-items: center;
        position: relative;
        &\--active {
            &::after {
                content: '';
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                height: 3px;
                background-color: $light-brown;
                z-index: 2;
            }
        }
    }
    &__enter {
        margin-left: auto;
    }
    &__link {
        color: white;
        font-size: 0.66 * $baseline;
        line-height: 1;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        &:hover {
            color: $light-brown;
        }
        &:active {
            opacity: 0.3;
        }
    }
    @media(min-width: $desktop) {
        &__item {
            margin-right: 31.5px;
            margin-left: 31.5px;
        }
        &__enter {
            margin-left: auto;
        }
        &__enter-img {
            margin-right: 19px;
        }
    }
}